#login { 
  margin-top: 150px; 
  margin-bottom: 50px; 
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
}

#login-container { 
  display: flex; 
  flex-direction: column; 
  background-color: var(--rose-white); 
  padding: 40px; 
  border-radius: 15px; 
  box-shadow: 1px 1px 1px 1px var(--gray); 
  width: 500px; 
}

#login-container span { 
  margin-bottom: 20px;
  display:block;
  margin:0px auto;
  margin-bottom: 20px;
}


#login-form button:hover, #login-form button:focus { 
  background-color: var(--hover-color); 
}
